body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    color: aliceblue;
}

h1{
    color: rgb(0, 255, 102);
}

a{
    color: rgb(170, 255, 0);
    text-decoration: none;
}

a:hover{
    color:blue;
}

Ul > li{font-weight: bold;}

ul li:hover{color:crimson}

p:not(:first-of-type) {
text-decoration: underline;}

p::first-letter{font-size: 200%;
color:chartreuse}

ul li::before{content: "🚀";}

a:after{content:"🌌"}

h1+p{background-color: black;
padding:15px;
border:5px;}