/* about section */
.html{
    scroll-behavior: smooth;

}
.body{
    background-color: #4343f7;
    font-family: 'Courier New', Courier, monospace;
}
.card {
    border-bottom: rgb(37, 19, 19);
}