h3{
    color:chocolate;
}
/* element selector */
H4{color:chartreuse;}
/* universal or global selector*/
*{
    font-size: 30px;
    font-weight:300;
}
/* class selector */
.myclass{
    color:blue;
}
#myid{
    color:burlywood;
}
h5,p{
    color:coral;
}