body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

#container {
    width: 1000px;
    height: 600px;
    background-image: linear-gradient(rgb(0, 0, 3) rgb(0, 0, 3));
}

#calculator {
    width: 320px;
    height: 550px;
    background-color: white;
    margin:auto;
    top: 20px;
    position: relative;
    border: 5px;
    box-shadow: rgb(0, 0, 0), 0 6px 20px rgb(0, 0, 3);
}

#result {
    height: 130px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:crimson;
}

#output {
    text-align: right;
    height:  60px;
    width: 10px 20px;
    font-size: 30px;
}

#keyboard {
    height: 400px;
}

.operator,
.number,
.empty{
    height: 50px;
    width:  50px;
    margin:  15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold ;
    font-size: 15px;

}

.numeber,
.empty{
background-color: white;
}

.number,
.operator{
    cursor: pointer;
}

.operator:active,
.number:active {
   font-size: 13px;
}

.operator:focus,
.number:focus,
.empty:focus {  
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: rgb(254, 124, 30);
}

button:nth-child(8) {
    font-size: 20px;
    background-color: rgb(234, 255, 0);
}

button:nth-child(12) {
    font-size: 20px;
    background-color: rgb(0, 168, 70);
}

button:nth-child(16) {
    font-size: 20px;
    background-color: rgb(20, 227, 254);
}

button:nth-child(20) {  
    font-size: 20px;
    background-color: rgb(255, 0, 111);
}